table{
    width: 60%;
    /*margin: 100px;*/
    margin: 10% 20%;
    border-collapse: collapse;
}

.header{
    background-color: silver;
}
.footer{
    background-color: silver;
}

td{
    border: 2px solid black;
    padding: 10px;
}

h1{
    padding: 0 10px;
    margin: 0;
}
